@using Blog.Web.Database
<header>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand text-black" href="/">
                @_blogName
            </a>
        </div>
    </nav>
</header>
