@{
    Layout = "_AdminLayoutBase";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <ul>
                <li>
                    <a href="/admin/">Dashboard</a>
                </li>
                <li>
                    <a href="/admin/posts">Posts</a>
                </li>
            </ul>
        </div>
        <div class="col-8">
            @RenderBody()
        </div>
    </div>
</div>