@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Blog.Web.Models.ISettings

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Blog.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Blog.Web.styles.css" asp-append-version="true"/>

    <style>
        /* Sticky Footer Styles */
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
        .footer {
            position: sticky;
            bottom: 0;
            width: 100%;
        }
    </style>

    @if (!string.IsNullOrWhiteSpace(Model.Settings.GoogleTrackingId))
    {
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40287478-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-40287478-3');
    </script>
    }
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Grant Byrne</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Resume">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Portfolio">Portfolio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container my-5">
    @RenderBody()
</main>

<footer class="footer bg-dark text-white text-center">
    <div class="container py-3">
        <div class="row">
            <div class="col text-start">
                <h4>Blog</h4>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Landing Page</a></li>
                    <li><a href="/blog" class="text-white">Blog</a></li>
                    <li><a href="/about" class="text-white">About</a></li>
                    <li><a href="/resume" class="text-white">Resume</a></li>
                </ul>
            </div>
            <div class="col text-end">
                <h4>Socials</h4>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/GrantByrne/" class="text-white">Github</a></li>
                    <li><a href="https://x.com/Gr4ntByrne" class="text-white">X / Twitter</a></li>
                    <li><a href="https://techhub.social/@@grantbyrne" class="text-white">Mastodon @@ Techhub.social</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-secondary text-white text-center py-3 d-flex align-items-center justify-content-center">
        <p class="mb-0">&copy; @DateTime.Now.Year Grant Byrne. All rights reserved.</p>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
