@inherits LayoutComponentBase
@using Blog.Web.Pages.Shared.Admin

<AdminHeader />
<div class="row">
    <div class="col-4">
        <Navigation/>
    </div>
    <div class="col-8">
        @Body
    </div>
</div>