@page "/admin/Dashboard"
@using Blog.Web.Pages.Shared
@layout AdminLayout

<h3>Dashboard</h3>

<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                <h3>Stats</h3>
            </div>
            <div class="card-body">
                <strong>Posts</strong> - @_postCount
            </div>
        </div>
    </div>
</div>