@page "/admin/LogIn"
@page "/admin"
@using Blog.Web.Pages.Shared
@layout AdminLayoutBase

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3>Log In</h3>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" @bind="Username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" @bind="Password">
                </div>
            </div>
            <div class="card-footer">
                <a href="/admin/dashboard" @onclick="Authenticate" class="btn btn-primary float-end">
                    Log In
                </a>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>