@page "/About"
@model Blog.Web.Pages.AboutMe

<h3>About Me</h3>

<h4 class="display-6">Professionaly speaking...</h4>
<p>
    Professionally, I'm a developer. For the past 9 or so years, I've been working in the .NET space. 
    My current interest is in Blazor apps. A also have a fondness for building apps in WPF.
</p>
<p>
    On a team, you'll find that I'm the contributer that is looking to elevate the standards of the 
    codebase. I like releasing code quickly and I like being confident that it will work before it 
    gets in the hands of users.
</p>
<p>
    This means that I'm not afraid to refactor code and write unit tests. Lately I've been experimenting 
    with writing more effective integration tests. Current going through the Nick Chapsas course on the 
    subject.
</p>
<p>
    I'm an American citizen, but I'm currently working remotely in Canada. If you're a US based company 
    that doesn't mind a very remote employee, I'd love to hear from you.
</p>
<h4 class="display-6">On Being Active...</h4>
<p>
    When I'm not coding or working with technology. You'll probably find me out doing something active. 
    Currently in the process of training for a Triathlon in 2023. That's consumed the bulk of my training 
    with Running, Cycling, and Swimming.
</p>
<p>
    As of the time of writing this, it's currently Winter in Canada, so I'm getting in to Cross Country 
    Skiiing and Downhill Snowboarding. When the weather warms up and I'm in the area, I'm going to try 
    to get back on the climbing wall.
</p>
<h4 class="display-6">What I'm Currently Working On...</h4>
<h5>My Blog (GrantByrne.com)</h5>
<p>
    I'm currently building out and updating this blog which is built on ASP.NET Razor Historys for
    displaying content and then Blazor Server for the backend administration. 
    <a href="https://github.com/GrantByrne/gBlog">Check this out on Github.</a>
</p>
<h5>Zapper</h5>
<p>
    The aim of the project is to create a unversal remote hub that runs on a Raspberry Pi. 
    Using components that you can easily purchase online (Raspberry Pi, IR Hat, USB Wireless 
    remote, etc...) you should be able to have a hub that can control your home theatre of IR, 
    Bluetooth, and WebOS devices. This would also allow you to bring your own remote.
    <a href="https://github.com/GrantByrne/Zapper">Check this out on Github.</a>
</p>