@page "/blog"

@model Blog.Web.Pages.BlogModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var post in Model.Posts)
{
    <div class="row mb-5">
        <span class="text-muted small">@post.Published.ToShortDateString()</span>
        <h4 class="display-5">
            <a class="text-black" href="/entry/@post.Id">
                @post.Title
            </a>
        </h4>
        <div class="mt-3">
            @post.Content
        </div>
    </div>
}
@if (@Model.DisplayPreviousLink)
{
    <div class="row">
        <div class="d-inline">
            <a href="/history/2" class="float-end">Older</a>
        </div>
    </div>   
}