@page "/entry/{id:int}"
@using Markdig
@model Blog.Web.Pages.Entry
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <span class="text-muted small">@Model.Post.Published.ToShortDateString()</span>
    <h4 class="display-5">
        <a class="text-black" href="/entry/@Model.Post.Id">
            @Model.Post.Title
        </a>
    </h4>
    <div class="mt-3">
        @Html.Raw(Markdown.ToHtml(Model.Post.Content))
    </div>
</div>