@page "/history/{number:int}"
@model Blog.Web.Pages.History
@{
    ViewData["Title"] = "Home page";
}

@foreach (var post in Model.Posts)
{
    <div class="row mb-5">
        <span class="text-muted small">@post.Published.ToShortDateString()</span>
        <h4 class="display-5">
            <a class="text-black text-decoration-none" href="/entry/@post.Id">
                @post.Title
            </a>
        </h4>
        <div>
            @post.Content
        </div>
    </div>
}

@if(Model.ShowNewer || Model.ShowOlder)
{
    <div class="row">
        <div class="d-inline">
            @if (Model.ShowNewer)
            {
                <a href="/History/@(Model.PageNumber-1)">Newer</a>
            }
            
            @if(Model.ShowOlder)
            {
                <a href="/History/@(Model.PageNumber+1)" class="float-end">Older</a>
            }
        </div>
    </div>
}