@page
@model Blog.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var post in Model.Posts)
{
    <div class="row">
        <span class="text-muted small">@post.Created.ToShortDateString()</span>
        <h4 class="display-5">
            <a class="text-black text-decoration-none" href="#">
                @post.Title
            </a>
        </h4>
        <div>
            @post.Content
        </div>
    </div>
}