@page
@model Blog.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Hi, I'm Grant!</h1>
    <p class="lead">This is where I share my journey, ideas, and projects.</p>
    <hr class="my-4">
    <p>Check out my blog for the latest posts or learn more about me in the About section.</p>
</div>