@page
@model Blog.Web.Pages.PortfolioModel

<h3>Portfolio</h3>
<div class="row my-3">
    <div class="col-4">
        <div class="card" style="height: 300px">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <h5>gBlog (GrantByrne.com)</h5>  
                    </div>
                    <div class="col">
                        <span class="badge text-primary float-end">Active</span>
                    </div>
                </div>
                <p>
                    I'm currently building out and updating this blog which is built on ASP.NET Razor Historys for
                    displaying content and then Blazor Server for the backend administration.
                </p>
            </div>
            <div class="card-footer">
                <a href="https://github.com/GrantByrne/gBlog">Check this out on Github</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="height: 300px">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <h5>Zapper</h5>
                    </div>
                    <div class="col">
                        <span class="badge text-secondary float-end">Inactive</span>
                    </div>
                </div>
                <p>
                    The aim of the project is to create a unversal remote hub that runs on a Raspberry Pi.
                    Using components that you can easily purchase online (Raspberry Pi, IR Hat, USB Wireless
                    remote, etc...) you should be able to have a hub that can control your home theatre of IR,
                    Bluetooth, and WebOS devices. This would also allow you to bring your own remote.
                </p>
            </div>
            <div class="card-footer">
                <a href="https://github.com/GrantByrne/Zapper">Check this out on Github</a>
            </div>
        </div>
    </div>
</div>