@page
@model Blog.Web.Pages.Resume

<h3>Resume</h3>
<h2 class="display-5">Work Experience</h2>
<h3>Susquehanna International Group (SIG)</h3>
<h4>Bala Cynwyd, PA</h4>
<h5>November 2013 - Present</h5>
<h6>Software Developer - Stock Loan Desk (4 years)</h6>
<ul>
    <li>
        Maintain a series of applications which provide research, order management, and
        compliance reporting around shorting securities. Applications are used across the
        firm and are supported by about ~50 microservices. (ASP.NET, WebForms, MVC4, WPF,
        WCF, .NET Framework, IBM MQ, Oracle Database)
    </li>
    <li>
        Maintain 3 applications which provide research and record keeping for tax
        advantaged trading strategies. (ASP.NET Blazor, MVC, .NET Core)
    </li>
    <li>
        Manage and work with Co-ops to help them deliver value and provide direction to
        help them grow in their computer science careers.
    </li>
</ul>
<h6>Software Developer - SFG Derivatives (5 years)</h6>
<ul>
    <li>
        Maintained order management system responsible for providing high traceability for
        large customer orders. The system provides the ability to trace the workflow from
        order receipt to execution on the street for compliance reporting. System is supported
        by about ~10 microservices (WebForms, TIBRV, WCF Services)
    </li>
    <li>
        Developed and maintained a record keeping ticking system which replaced the use of
        paper tickets. This dramatically reduced the pain for the users and elevated the
        level of compliance for multiple teams at the firm (WPF, WCF Services).
    </li>
    <li>
        Developed an application responsible for recording missed trades to provide additional
        insight to traders on missed market edge. (WPF)
    </li>
</ul>
<h6>Cross Team Responsibilities</h6>
<ul>
    <li>
        Performed technical interviews and phone screens for full time software development
        positions as well as CoOp positions.
    </li>
</ul>
<h3>NextDocs</h3>
<h4>Conshohocken, PA</h4>
<h5>Software Developer (Jan 2013 - Nov 2013)</h5>
<ul>
    <li>
        Participated in revamping the clinical trials platform to streamline the process of
        document management for the duration of a clinical trial. (ASP.NET Webforms,
        Node.js, Angular)
    </li>
</ul>
<h5>Software Developer Intern (Jan 2013 - Nov 2013)</h5>
<ul>
    <li>
        Developed the NextDocs Health Monitor. This was a set of tools that could be used
        by the support team to quickly evaluate the state of the system deployed offsite to
        reduce time for troubleshooting.
    </li>
</ul>
<h3>Kutztown University</h3>
<h4>Computer Science Tutor - Kutztown, PA (2011-2012)</h4>
<ul>
    <li>
        At the nomination of professor, I tutored students needing accommodations in computer science.
        Tutoring typically revolved around specifics with C++ Programming and Data Structures.
    </li>
</ul>
<h2 class="display-5">Education</h2>
<h3>B.S. Computer Science</h3>
<h4>Kutztown University (2012)</h4>
<br/>
<h2 class="display-5">Additional Qualifications</h2>
<h3>Pluralsight C# Expert</h3>
<h4>Verified 86th percentile for C# (11.2022)</h4>